.card {
	background-color: #1e1e1e;
	border-radius: 0.4em;
	filter: drop-shadow(5px 5px 4px #000000c9);
	margin-bottom: 1em;
	padding-bottom: 2em;
}

.card-img-top {
	border-radius: 0.4em 0.4em 0 0;
}

.card-title {
	margin: 0px;
	font-size: 1.2em;
}

.card-body {
	padding: 1.5em;
	text-align: left;
	font-size: 0.8em;
}

.date {
	font-weight: bold;
	color: #01ce96;
	position: absolute;
	bottom: 1.5em;
	right: 1.5em;
	margin-bottom: 0px;
}

.heart {
	font-size: 2em;
	position: absolute;
	right: 1em;
	top: 1em;
	cursor: pointer;
	transition: 0.5s;
}

a {
	position: absolute;
	color: #ffc107;
	font-weight: bold;
	text-decoration: none;
	bottom: 1.5em;
	left: 1.5em;
}
/* .description {
	font-size: 1.3em;
} */
